In [223]:
from dask_cloudprovider.aws import EC2Cluster 
from dask.distributed import Client
import configparser
import os
import contextlib
import re
import dask
from platform import python_version

def get_aws_credentials():
    """Read in your AWS credentials file and convert to environment variables."""
    parser = configparser.RawConfigParser()
    
    parser.read(os.path.expanduser('~/.aws/config'))
    config = parser.items('default')
    
    parser.read(os.path.expanduser('~/.aws/credentials'))
    credentials = parser.items('default')
    
    all_credentials = {key.upper(): value for key, value in [*config, *credentials]}
    with contextlib.suppress(KeyError):
        all_credentials["AWS_REGION"] = all_credentials.pop("REGION")
        
    return all_credentials

# Pass in AWS Credentials + any extra packages you would like to install on cluster via `pip`
env_vars = get_aws_credentials()
env_vars["EXTRA_PIP_PACKAGES"] = "s3fs"

# Select software installed on scheduler + worker instances based on client Python + Dask versions
# versions need to match across client, scheduler, worker -- slight mismatches are OK, though
py_v = '-py' + re.findall(r'\d{1}.\d+', python_version())[0]
dask_docker_tag = f"daskdev/dask:{dask.__version__ + py_v}"
print('Docker Image: ', dask_docker_tag)

# launch a cluster of 5 r5.large instances (10 vCPUs):
# 1 scheduler
# 4 workers (2 threads + 16 GB RAM each)
cluster = EC2Cluster(instance_type='r5.large',
                     n_workers=4,
                     security=False,
                     docker_image=dask_docker_tag,
                     env_vars=env_vars
)

Docker Image:  daskdev/dask:2025.5.1-py3.11
Creating scheduler instance
Created instance i-0c7dcafb216c8344c as dask-11b14be3-scheduler
Waiting for scheduler to run at 52.23.205.43:8786
Scheduler is running

/Users/nancy/.pyenv/versions/3.11.8/lib/python3.11/contextlib.py:144: UserWarning: Creating your cluster is taking a surprisingly long time. This is likely due to pending resources. Hang tight!
  next(self.gen)

Creating worker instance
Creating worker instance
Creating worker instance
Creating worker instance
Created instance i-0a8de685fac4488f2 as dask-11b14be3-worker-024e464a
Created instance i-0e7ba932274b2b956 as dask-11b14be3-worker-dd88cf88
Created instance i-0e0735915c43a4c06 as dask-11b14be3-worker-866640ba
Created instance i-074a87942eaeaeef8 as dask-11b14be3-worker-c315b87e

Task exception was never retrieved
future: <Task finished name='Task-12953' coro=<Client._gather.<locals>.wait() done, defined at /Users/nancy/.pyenv/versions/3.11.8/lib/python3.11/site-packages/distributed/client.py:2377> exception=AllExit()>
Traceback (most recent call last):
  File "/Users/nancy/.pyenv/versions/3.11.8/lib/python3.11/site-packages/distributed/client.py", line 2386, in wait
    raise AllExit()
distributed.client.AllExit

In [224]:
client = Client(cluster)
client # note that slight mismatches between client, scheduler, and worker software are fine

/Users/nancy/.pyenv/versions/3.11.8/lib/python3.11/site-packages/distributed/client.py:1582: VersionMismatchWarning: Mismatched versions found

+---------+----------------+-----------------+---------+
| Package | Client         | Scheduler       | Workers |
+---------+----------------+-----------------+---------+
| lz4     | None           | 4.4.4           | None    |
| python  | 3.11.8.final.0 | 3.11.12.final.0 | None    |
| toolz   | 1.0.0          | 0.12.0          | None    |
+---------+----------------+-----------------+---------+
  warnings.warn(version_module.VersionMismatchWarning(msg[0]["warning"]))

In [189]:
import dask.dataframe as dd
from dask_ml.model_selection import train_test_split, IncrementalSearchCV
from sklearn.linear_model import SGDClassifier, SGDRegressor
from sklearn.metrics import classification_report, ConfusionMatrixDisplay, mean_squared_error
import matplotlib.pyplot as plt
import numpy as np

df = dd.read_parquet('s3://nancyfinal/hmda_filtered_2018_2023.parquet')

In [107]:
# 计算每个取值的频率和比例
action_counts = df["action_taken"].value_counts().compute()
action_ratios = action_counts / action_counts.sum()

# 合并结果为一个 DataFrame
action_stats = action_counts.to_frame(name="count")
action_stats["proportion"] = action_ratios

# 排序并显示
print(action_stats.sort_index())

                 count  proportion
action_taken
-1                1982    0.000018
1             60929528    0.542287
2              2766900    0.024626
3             15486366    0.137832
4             14321841    0.127468
5              5212688    0.046394
6             12585802    0.112017
7               425657    0.003788
8               625819     0.00557

In [108]:
# 计算缺失比例
na_ratio = (df.isna().sum() / len(df)).compute().sort_values(ascending=False)

# 打印结果
print(na_ratio)

rate_spread                          0.465884
total_loan_costs                     0.450207
debt_to_income_ratio                 0.337127
interest_rate                        0.314909
property_value                       0.205317
income                               0.133752
census_tract                         0.021304
county_code                          0.018590
loan_term                            0.012748
state_code                           0.010645
applicant_ethnicity_1                0.000384
applicant_race_1                     0.000162
co_applicant_ethnicity_1             0.000122
co_applicant_race_1                  0.000053
derived_loan_product_type            0.000018
lei                                  0.000018
loan_purpose                         0.000000
occupancy_type                       0.000000
applicant_sex                        0.000000
activity_year                        0.000000
loan_type                            0.000000
action_taken                         0.000000
derived_msa_md                       0.000000
tract_to_msa_income_percentage       0.000000
tract_minority_population_percent    0.000000
derived_ethnicity                    0.000000
derived_race                         0.000000
applicant_age                        0.000000
applicant_credit_score_type          0.000000
loan_amount                          0.000000
lien_status                          0.000000
dtype: float64

In [190]:
# 转为 float（防止 object 类型出错）
df["property_value"] = dd.to_numeric(df["property_value"], errors="coerce").astype("float64")
df["income"] = dd.to_numeric(df["income"], errors="coerce").astype("float64")

In [153]:


# 计算分位数（0, 10%, 25%, 50%, 75%, 90%, 100%）
quantiles = [0, 0.1, 0.25, 0.5, 0.75, 0.9, 1.0]

print("Property Value Quantiles:")
print(df["property_value"].quantile(quantiles).compute())

print("\nIncome Quantiles:")
print(df["income"].quantile(quantiles).compute()) # income needs to drop outliers!

Property Value Quantiles:
0.00    5.000000e+03
0.10    1.650000e+05
0.25    2.450000e+05
0.50    3.850000e+05
0.75    5.950000e+05
0.90    9.350000e+05
1.00    2.147484e+09
Name: property_value, dtype: float64

Income Quantiles:
0.00      -899459.0
0.10           43.0
0.25           65.0
0.50          100.0
0.75          160.0
0.90          260.0
1.00    717564000.0
Name: income, dtype: float64

In [21]:
num_vars = [
    "income",
    "property_value",
    "total_loan_costs",
    "rate_spread",
    "loan_term",
    "loan_amount",
    'interest_rate',
    "combined_loan_to_value_ratio"
]

In [22]:
def describe_column_distribution(df, column_name):
    """
    打印指定列的 min, max 和 quantiles 分布（使用 Dask）。
    
    参数：
    df : Dask DataFrame
    column_name : str，要查看的列名
    """

    if column_name not in df.columns:
        print(f"[ERROR] '{column_name}' not in DataFrame.\n")
        return

    print(f"\n==== {column_name} ====")

    # 转换为数值型
    df[column_name] = dd.to_numeric(df[column_name], errors="coerce").astype("float64")

    # 打印分位数
    quantiles = df[column_name].quantile([0, 0.1, 0.25, 0.5, 0.75, 0.9, 1.0]).compute()
    print("\nQuantiles:")
    print(quantiles.round(2))

In [191]:
describe_column_distribution(df, num_vars[2]) # total_loan_costs

==== total_loan_costs ====

Quantiles:
0.00    0.000000e+00
0.10    2.158510e+03
0.25    3.610000e+03
0.50    5.665000e+03
0.75    8.824810e+03
0.90    1.609362e+04
1.00    4.256004e+09
Name: total_loan_costs, dtype: float64

In [192]:
describe_column_distribution(df, num_vars[3]) # rate_spread

==== rate_spread ====

Quantiles:
0.00   -9999997.00
0.10         -0.20
0.25          0.14
0.50          0.52
0.75          1.07
0.90          2.80
1.00      44562.00
Name: rate_spread, dtype: float64

In [193]:
describe_column_distribution(df, num_vars[4]) # loan_term

==== loan_term ====

Quantiles:
0.00         1.0
0.10       240.0
0.25       360.0
0.50       360.0
0.75       360.0
0.90       360.0
1.00    715180.0
Name: loan_term, dtype: float64

In [194]:
describe_column_distribution(df, num_vars[5])  # loan_amount

==== loan_amount ====

Quantiles:
0.00   -1.396245e+09
0.10    8.500000e+04
0.25    1.550000e+05
0.50    2.450000e+05
0.75    3.850000e+05
0.90    5.950000e+05
1.00    5.000006e+11
Name: loan_amount, dtype: float64

In [195]:
describe_column_distribution(df, num_vars[6])  # interest_rate

==== interest_rate ====

Quantiles:
0.00         0.00
0.10         2.75
0.25         3.25
0.50         4.00
0.75         5.60
0.90         9.25
1.00    795000.00
Name: interest_rate, dtype: float64

In [196]:
# 计算每个取值的频率和比例
msa_counts = df["derived_msa_md"].value_counts().compute()
msa_ratios = msa_counts / msa_counts.sum()

# 合并结果为一个 DataFrame
msa_stats = msa_counts.to_frame(name="count")
msa_stats["proportion"] = msa_ratios

In [ ]:
# 排序并显示
print(msa_stats.sort_index())

                   count  proportion
derived_msa_md
0                 701122     0.00624
10180              46446    0.000413
10380              11085    0.000099
10420             235805    0.002099
10500              31822    0.000283
...                  ...         ...
49620             160059    0.001425
49660             146160    0.001301
49700              68004    0.000605
49740              68994    0.000614
99999           12669924    0.112765

[419 rows x 2 columns]

In [197]:
# Step 1: Convert derived_msa_md to 5-digit string (with leading zeros)
# This ensures consistency across codes like "1010" → "01010"
df["derived_msa_md"] = df["derived_msa_md"].astype("Int64").astype(str).str.zfill(5)

# Step 2: Define invalid codes according to HMDA documentation
# "00000" = missing / invalid
# Keep "99999" = not in an MSA
invalid_codes = {"00000"}

# Step 3: Replace invalid codes with NaN, keep valid MSA/MD codes
# .isin returns a boolean mask; .where keeps only valid codes
df["msa_md_clean"] = df["derived_msa_md"].where(~df["derived_msa_md"].isin(invalid_codes), np.nan)

In [134]:
df.head()

,activity_year,action_taken,rate_spread,total_loan_costs,loan_amount,income,debt_to_income_ratio,applicant_credit_score_type,applicant_age,derived_race,...,applicant_ethnicity_1,co_applicant_race_1,co_applicant_ethnicity_1,loan_purpose,loan_term,interest_rate,property_value,occupancy_type,lien_status,msa_md_clean
0,2018,1,1.305,7822.87,135000.0,67.0,46,1,45-54,White,...,2,8,5,32,240.0,4.875,195000.0,1,1,26420
1,2018,1,0.057,6859.57,235000.0,84.0,50%-60%,9,45-54,White,...,1,5,2,32,360.0,4.375,275000.0,1,1,41180
2,2018,3,NaN,NaN,185000.0,45.0,>60%,3,35-44,White,...,2,5,2,32,360.0,NaN,355000.0,1,1,14260
3,2018,3,NaN,NaN,285000.0,78.0,42,1,35-44,White,...,1,8,5,31,360.0,NaN,425000.0,1,1,33124
4,2018,3,NaN,NaN,205000.0,36.0,>60%,1,25-34,White,...,1,8,5,32,360.0,NaN,265000.0,1,1,36740

In [198]:
# Remove uninformative or unavailable values in app_ethnicity
df = df[~df["applicant_ethnicity_1"].isin([
    "3", 
    "4"
])]

# Remove uninformative or unavailable values in app_race
df = df[~df["applicant_race_1"].isin([
    "6", 
    "7"
])]

In [96]:
df.head()

,activity_year,action_taken,rate_spread,total_loan_costs,loan_amount,income,debt_to_income_ratio,applicant_credit_score_type,applicant_age,derived_race,...,applicant_ethnicity_1,co_applicant_race_1,co_applicant_ethnicity_1,loan_purpose,loan_term,interest_rate,property_value,occupancy_type,lien_status,msa_md_clean
0,2018,1,1.305,7822.87,135000.0,67.0,46,1,45-54,White,...,2,8,5,32,240.0,4.875,195000.0,1,1,26420
1,2018,1,0.057,6859.57,235000.0,84.0,50%-60%,9,45-54,White,...,1,5,2,32,360.0,4.375,275000.0,1,1,41180
2,2018,3,NaN,NaN,185000.0,45.0,>60%,3,35-44,White,...,2,5,2,32,360.0,NaN,355000.0,1,1,14260
3,2018,3,NaN,NaN,285000.0,78.0,42,1,35-44,White,...,1,8,5,31,360.0,NaN,425000.0,1,1,33124
4,2018,3,NaN,NaN,205000.0,36.0,>60%,1,25-34,White,...,1,8,5,32,360.0,NaN,265000.0,1,1,36740

In [199]:
# print type of loan_purpose
print(df["loan_purpose"].dtype)

string

In [200]:
# Make sure loan_purpose is numeric for comparison
df["loan_purpose"] = dd.to_numeric(df["loan_purpose"], errors="coerce")

# Create a binary flag: refinance (includes both 31 and 32)
df["is_refinance"] = df["loan_purpose"].isin(['31', '32']).astype(int)

# Create a binary flag: cash-out refinance only (code 32)
df["is_cash_out"] = (df["loan_purpose"] == '32').astype(int)

In [201]:
# outlier drops

# Drop rows with negative income
df = df[df["income"] >= 0]

In [202]:
df.head()

,activity_year,action_taken,rate_spread,total_loan_costs,loan_amount,income,debt_to_income_ratio,applicant_credit_score_type,applicant_age,derived_race,...,co_applicant_ethnicity_1,loan_purpose,loan_term,interest_rate,property_value,occupancy_type,lien_status,msa_md_clean,is_refinance,is_cash_out
0,2018,1,1.305,7822.87,135000.0,67.0,46,1,45-54,White,...,5,32,240.0,4.875,195000.0,1,1,26420,0,0
1,2018,1,0.057,6859.57,235000.0,84.0,50%-60%,9,45-54,White,...,2,32,360.0,4.375,275000.0,1,1,41180,0,0
2,2018,3,NaN,NaN,185000.0,45.0,>60%,3,35-44,White,...,2,32,360.0,NaN,355000.0,1,1,14260,0,0
3,2018,3,NaN,NaN,285000.0,78.0,42,1,35-44,White,...,5,31,360.0,NaN,425000.0,1,1,33124,0,0
4,2018,3,NaN,NaN,205000.0,36.0,>60%,1,25-34,White,...,5,32,360.0,NaN,265000.0,1,1,36740,0,0

In [203]:
# print type of loan_purpose
print(df["action_taken"].dtype)

string

In [204]:
# Drop rows with invalid action_taken code (-1)
df = df[df["action_taken"] != "-1"]

In [205]:
df.head()

,activity_year,action_taken,rate_spread,total_loan_costs,loan_amount,income,debt_to_income_ratio,applicant_credit_score_type,applicant_age,derived_race,...,co_applicant_ethnicity_1,loan_purpose,loan_term,interest_rate,property_value,occupancy_type,lien_status,msa_md_clean,is_refinance,is_cash_out
0,2018,1,1.305,7822.87,135000.0,67.0,46,1,45-54,White,...,5,32,240.0,4.875,195000.0,1,1,26420,0,0
1,2018,1,0.057,6859.57,235000.0,84.0,50%-60%,9,45-54,White,...,2,32,360.0,4.375,275000.0,1,1,41180,0,0
2,2018,3,NaN,NaN,185000.0,45.0,>60%,3,35-44,White,...,2,32,360.0,NaN,355000.0,1,1,14260,0,0
3,2018,3,NaN,NaN,285000.0,78.0,42,1,35-44,White,...,5,31,360.0,NaN,425000.0,1,1,33124,0,0
4,2018,3,NaN,NaN,205000.0,36.0,>60%,1,25-34,White,...,5,32,360.0,NaN,265000.0,1,1,36740,0,0

In [206]:
# Remove not normal outliers in rate-spread
df = df[~((df["rate_spread"] <= -30) | (df["rate_spread"] >= 30))]

In [207]:
df.head()

,activity_year,action_taken,rate_spread,total_loan_costs,loan_amount,income,debt_to_income_ratio,applicant_credit_score_type,applicant_age,derived_race,...,co_applicant_ethnicity_1,loan_purpose,loan_term,interest_rate,property_value,occupancy_type,lien_status,msa_md_clean,is_refinance,is_cash_out
0,2018,1,1.305,7822.87,135000.0,67.0,46,1,45-54,White,...,5,32,240.0,4.875,195000.0,1,1,26420,0,0
1,2018,1,0.057,6859.57,235000.0,84.0,50%-60%,9,45-54,White,...,2,32,360.0,4.375,275000.0,1,1,41180,0,0
2,2018,3,NaN,NaN,185000.0,45.0,>60%,3,35-44,White,...,2,32,360.0,NaN,355000.0,1,1,14260,0,0
3,2018,3,NaN,NaN,285000.0,78.0,42,1,35-44,White,...,5,31,360.0,NaN,425000.0,1,1,33124,0,0
4,2018,3,NaN,NaN,205000.0,36.0,>60%,1,25-34,White,...,5,32,360.0,NaN,265000.0,1,1,36740,0,0

In [208]:
df.columns

Index(['activity_year', 'action_taken', 'rate_spread', 'total_loan_costs',
       'loan_amount', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'applicant_age', 'derived_race',
       'derived_ethnicity', 'tract_minority_population_percent',
       'tract_to_msa_income_percentage', 'derived_msa_md', 'state_code',
       'county_code', 'census_tract', 'lei', 'loan_type',
       'derived_loan_product_type', 'applicant_sex', 'applicant_race_1',
       'applicant_ethnicity_1', 'co_applicant_race_1',
       'co_applicant_ethnicity_1', 'loan_purpose', 'loan_term',
       'interest_rate', 'property_value', 'occupancy_type', 'lien_status',
       'msa_md_clean', 'is_refinance', 'is_cash_out'],
      dtype='object')

In [209]:
# Drop rows with invalid (negative) loan amounts
df = df[df["loan_amount"] >= 0]

In [210]:
df.head()

,activity_year,action_taken,rate_spread,total_loan_costs,loan_amount,income,debt_to_income_ratio,applicant_credit_score_type,applicant_age,derived_race,...,co_applicant_ethnicity_1,loan_purpose,loan_term,interest_rate,property_value,occupancy_type,lien_status,msa_md_clean,is_refinance,is_cash_out
0,2018,1,1.305,7822.87,135000.0,67.0,46,1,45-54,White,...,5,32,240.0,4.875,195000.0,1,1,26420,0,0
1,2018,1,0.057,6859.57,235000.0,84.0,50%-60%,9,45-54,White,...,2,32,360.0,4.375,275000.0,1,1,41180,0,0
2,2018,3,NaN,NaN,185000.0,45.0,>60%,3,35-44,White,...,2,32,360.0,NaN,355000.0,1,1,14260,0,0
3,2018,3,NaN,NaN,285000.0,78.0,42,1,35-44,White,...,5,31,360.0,NaN,425000.0,1,1,33124,0,0
4,2018,3,NaN,NaN,205000.0,36.0,>60%,1,25-34,White,...,5,32,360.0,NaN,265000.0,1,1,36740,0,0

In [211]:
# Step 1: Convert combined_loan_to_value_ratio to numeric
df["combined_loan_to_value_ratio"] = df["loan_amount"] / df["property_value"]

# Step 3: Compute fee_shares = total_loan_costs / loan_amount
df["fee_shares"] = df["total_loan_costs"] / df["loan_amount"]

In [212]:
df = df[df["action_taken"].isin(['1', '2', '3', '7', '8'])]
df["is_rejected"] = df["action_taken"].map_partitions(lambda s: s.isin(['3', '7']).astype(int))

In [213]:
# 要转换为分类变量的字段列表
cat_vars = [
    "applicant_age",
]

# 批量转换为 category 类型
for col in cat_vars:
    if col in df.columns:
        df[col] = df[col].astype("category")

In [214]:
# hoepa_status

In [215]:
# Keep only the selected variables
selected_columns = [
    "activity_year", "rate_spread", "applicant_age", "is_rejected", "total_loan_costs", "loan_amount",
    "combined_loan_to_value_ratio", "fee_shares", "income", "is_refinance", "is_cash_out", 'msa_md_clean',
    "loan_purpose", "state_code", "county_code", "census_tract", 
    "loan_term", "property_value", "interest_rate", 'tract_to_msa_income_percentage', 'applicant_sex'
]
df = df[selected_columns]

In [216]:
print(df.dtypes)

activity_year                     string[pyarrow]
rate_spread                               float64
applicant_age                            category
is_rejected                                 int64
total_loan_costs                          float64
loan_amount                               float64
combined_loan_to_value_ratio              float64
fee_shares                                float64
income                                    float64
is_refinance                                int64
is_cash_out                                 int64
msa_md_clean                               object
loan_purpose                                Int64
state_code                        string[pyarrow]
county_code                       string[pyarrow]
census_tract                      string[pyarrow]
loan_term                                 float64
property_value                            float64
interest_rate                             float64
tract_to_msa_income_percentage    string[pyarrow]
applicant_sex                     string[pyarrow]
dtype: object

In [217]:
df.head()

,activity_year,rate_spread,applicant_age,is_rejected,total_loan_costs,loan_amount,combined_loan_to_value_ratio,fee_shares,income,is_refinance,...,msa_md_clean,loan_purpose,state_code,county_code,census_tract,loan_term,property_value,interest_rate,tract_to_msa_income_percentage,applicant_sex
0,2018,1.305,45-54,0,7822.87,135000.0,0.692308,0.057947,67.0,0,...,26420,32,TX,48201,48201342300,240.0,195000.0,4.875,79.0,2
1,2018,0.057,45-54,0,6859.57,235000.0,0.854545,0.029190,84.0,0,...,41180,32,MO,29183,29183311735,360.0,275000.0,4.375,129.0,2
2,2018,NaN,35-44,1,NaN,185000.0,0.521127,NaN,45.0,0,...,14260,32,ID,16027,16027021100,360.0,355000.0,NaN,91.0,2
3,2018,NaN,35-44,1,NaN,285000.0,0.670588,NaN,78.0,0,...,33124,31,FL,12086,12086019800,360.0,425000.0,NaN,149.0,2
4,2018,NaN,25-34,1,NaN,205000.0,0.773585,NaN,36.0,0,...,36740,32,FL,12095,12095014400,360.0,265000.0,NaN,114.0,2

In [220]:
print(len(df))

61596716

In [221]:
df.to_parquet('s3://nancyfinal/hmda_filtered_cleaned_2018_2023/', write_index=False)

In [2]:
cluster.close()

NameError: name 'cluster' is not defined

In [1]:
import boto3
import os

def download_s3_folder(bucket_name, s3_prefix, local_dir):
    """
    下载指定 S3 文件夹到本地目录
    """
    s3 = boto3.client('s3')

    paginator = s3.get_paginator('list_objects_v2')
    pages = paginator.paginate(Bucket=bucket_name, Prefix=s3_prefix)

    for page in pages:
        for obj in page.get('Contents', []):
            key = obj['Key']
            if key.endswith('/'):
                continue  # 跳过空目录
            local_path = os.path.join(local_dir, os.path.relpath(key, s3_prefix))
            os.makedirs(os.path.dirname(local_path), exist_ok=True)
            print(f"Downloading {key} to {local_path}")
            s3.download_file(bucket_name, key, local_path)

# ====== 参数配置 ======
bucket = 'nancyfinal'
prefix = 'hmda_filtered_cleaned_2018_2023/'
destination = './hmda_local_copy'

download_s3_folder(bucket, prefix, destination)
print("✅ 所有文件下载完成！")

Downloading hmda_filtered_cleaned_2018_2023/part.0.parquet to ./hmda_local_copy/part.0.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.1.parquet to ./hmda_local_copy/part.1.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.10.parquet to ./hmda_local_copy/part.10.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.100.parquet to ./hmda_local_copy/part.100.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.101.parquet to ./hmda_local_copy/part.101.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.102.parquet to ./hmda_local_copy/part.102.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.103.parquet to ./hmda_local_copy/part.103.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.104.parquet to ./hmda_local_copy/part.104.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.105.parquet to ./hmda_local_copy/part.105.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.106.parquet to ./hmda_local_copy/part.106.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.107.parquet to ./hmda_local_copy/part.107.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.108.parquet to ./hmda_local_copy/part.108.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.109.parquet to ./hmda_local_copy/part.109.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.11.parquet to ./hmda_local_copy/part.11.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.110.parquet to ./hmda_local_copy/part.110.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.111.parquet to ./hmda_local_copy/part.111.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.112.parquet to ./hmda_local_copy/part.112.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.113.parquet to ./hmda_local_copy/part.113.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.114.parquet to ./hmda_local_copy/part.114.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.115.parquet to ./hmda_local_copy/part.115.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.116.parquet to ./hmda_local_copy/part.116.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.117.parquet to ./hmda_local_copy/part.117.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.118.parquet to ./hmda_local_copy/part.118.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.119.parquet to ./hmda_local_copy/part.119.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.12.parquet to ./hmda_local_copy/part.12.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.120.parquet to ./hmda_local_copy/part.120.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.121.parquet to ./hmda_local_copy/part.121.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.122.parquet to ./hmda_local_copy/part.122.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.123.parquet to ./hmda_local_copy/part.123.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.124.parquet to ./hmda_local_copy/part.124.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.125.parquet to ./hmda_local_copy/part.125.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.126.parquet to ./hmda_local_copy/part.126.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.127.parquet to ./hmda_local_copy/part.127.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.128.parquet to ./hmda_local_copy/part.128.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.129.parquet to ./hmda_local_copy/part.129.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.13.parquet to ./hmda_local_copy/part.13.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.130.parquet to ./hmda_local_copy/part.130.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.131.parquet to ./hmda_local_copy/part.131.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.132.parquet to ./hmda_local_copy/part.132.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.133.parquet to ./hmda_local_copy/part.133.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.134.parquet to ./hmda_local_copy/part.134.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.135.parquet to ./hmda_local_copy/part.135.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.136.parquet to ./hmda_local_copy/part.136.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.137.parquet to ./hmda_local_copy/part.137.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.138.parquet to ./hmda_local_copy/part.138.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.139.parquet to ./hmda_local_copy/part.139.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.14.parquet to ./hmda_local_copy/part.14.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.140.parquet to ./hmda_local_copy/part.140.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.141.parquet to ./hmda_local_copy/part.141.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.142.parquet to ./hmda_local_copy/part.142.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.143.parquet to ./hmda_local_copy/part.143.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.144.parquet to ./hmda_local_copy/part.144.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.145.parquet to ./hmda_local_copy/part.145.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.146.parquet to ./hmda_local_copy/part.146.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.147.parquet to ./hmda_local_copy/part.147.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.148.parquet to ./hmda_local_copy/part.148.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.149.parquet to ./hmda_local_copy/part.149.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.15.parquet to ./hmda_local_copy/part.15.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.150.parquet to ./hmda_local_copy/part.150.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.151.parquet to ./hmda_local_copy/part.151.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.152.parquet to ./hmda_local_copy/part.152.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.153.parquet to ./hmda_local_copy/part.153.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.154.parquet to ./hmda_local_copy/part.154.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.155.parquet to ./hmda_local_copy/part.155.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.156.parquet to ./hmda_local_copy/part.156.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.157.parquet to ./hmda_local_copy/part.157.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.158.parquet to ./hmda_local_copy/part.158.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.159.parquet to ./hmda_local_copy/part.159.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.16.parquet to ./hmda_local_copy/part.16.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.160.parquet to ./hmda_local_copy/part.160.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.161.parquet to ./hmda_local_copy/part.161.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.162.parquet to ./hmda_local_copy/part.162.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.163.parquet to ./hmda_local_copy/part.163.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.164.parquet to ./hmda_local_copy/part.164.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.165.parquet to ./hmda_local_copy/part.165.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.166.parquet to ./hmda_local_copy/part.166.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.167.parquet to ./hmda_local_copy/part.167.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.168.parquet to ./hmda_local_copy/part.168.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.169.parquet to ./hmda_local_copy/part.169.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.17.parquet to ./hmda_local_copy/part.17.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.170.parquet to ./hmda_local_copy/part.170.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.171.parquet to ./hmda_local_copy/part.171.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.172.parquet to ./hmda_local_copy/part.172.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.173.parquet to ./hmda_local_copy/part.173.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.174.parquet to ./hmda_local_copy/part.174.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.175.parquet to ./hmda_local_copy/part.175.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.176.parquet to ./hmda_local_copy/part.176.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.177.parquet to ./hmda_local_copy/part.177.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.178.parquet to ./hmda_local_copy/part.178.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.179.parquet to ./hmda_local_copy/part.179.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.18.parquet to ./hmda_local_copy/part.18.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.180.parquet to ./hmda_local_copy/part.180.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.181.parquet to ./hmda_local_copy/part.181.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.182.parquet to ./hmda_local_copy/part.182.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.183.parquet to ./hmda_local_copy/part.183.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.184.parquet to ./hmda_local_copy/part.184.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.185.parquet to ./hmda_local_copy/part.185.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.186.parquet to ./hmda_local_copy/part.186.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.187.parquet to ./hmda_local_copy/part.187.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.188.parquet to ./hmda_local_copy/part.188.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.189.parquet to ./hmda_local_copy/part.189.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.19.parquet to ./hmda_local_copy/part.19.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.190.parquet to ./hmda_local_copy/part.190.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.191.parquet to ./hmda_local_copy/part.191.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.192.parquet to ./hmda_local_copy/part.192.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.193.parquet to ./hmda_local_copy/part.193.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.194.parquet to ./hmda_local_copy/part.194.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.195.parquet to ./hmda_local_copy/part.195.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.196.parquet to ./hmda_local_copy/part.196.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.197.parquet to ./hmda_local_copy/part.197.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.198.parquet to ./hmda_local_copy/part.198.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.199.parquet to ./hmda_local_copy/part.199.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.2.parquet to ./hmda_local_copy/part.2.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.20.parquet to ./hmda_local_copy/part.20.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.200.parquet to ./hmda_local_copy/part.200.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.201.parquet to ./hmda_local_copy/part.201.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.202.parquet to ./hmda_local_copy/part.202.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.203.parquet to ./hmda_local_copy/part.203.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.204.parquet to ./hmda_local_copy/part.204.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.205.parquet to ./hmda_local_copy/part.205.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.206.parquet to ./hmda_local_copy/part.206.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.207.parquet to ./hmda_local_copy/part.207.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.208.parquet to ./hmda_local_copy/part.208.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.209.parquet to ./hmda_local_copy/part.209.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.21.parquet to ./hmda_local_copy/part.21.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.210.parquet to ./hmda_local_copy/part.210.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.211.parquet to ./hmda_local_copy/part.211.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.212.parquet to ./hmda_local_copy/part.212.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.213.parquet to ./hmda_local_copy/part.213.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.214.parquet to ./hmda_local_copy/part.214.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.215.parquet to ./hmda_local_copy/part.215.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.216.parquet to ./hmda_local_copy/part.216.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.217.parquet to ./hmda_local_copy/part.217.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.218.parquet to ./hmda_local_copy/part.218.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.219.parquet to ./hmda_local_copy/part.219.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.22.parquet to ./hmda_local_copy/part.22.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.220.parquet to ./hmda_local_copy/part.220.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.221.parquet to ./hmda_local_copy/part.221.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.222.parquet to ./hmda_local_copy/part.222.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.223.parquet to ./hmda_local_copy/part.223.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.224.parquet to ./hmda_local_copy/part.224.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.225.parquet to ./hmda_local_copy/part.225.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.226.parquet to ./hmda_local_copy/part.226.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.227.parquet to ./hmda_local_copy/part.227.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.228.parquet to ./hmda_local_copy/part.228.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.229.parquet to ./hmda_local_copy/part.229.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.23.parquet to ./hmda_local_copy/part.23.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.230.parquet to ./hmda_local_copy/part.230.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.231.parquet to ./hmda_local_copy/part.231.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.232.parquet to ./hmda_local_copy/part.232.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.233.parquet to ./hmda_local_copy/part.233.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.234.parquet to ./hmda_local_copy/part.234.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.235.parquet to ./hmda_local_copy/part.235.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.236.parquet to ./hmda_local_copy/part.236.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.237.parquet to ./hmda_local_copy/part.237.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.238.parquet to ./hmda_local_copy/part.238.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.239.parquet to ./hmda_local_copy/part.239.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.24.parquet to ./hmda_local_copy/part.24.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.240.parquet to ./hmda_local_copy/part.240.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.241.parquet to ./hmda_local_copy/part.241.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.242.parquet to ./hmda_local_copy/part.242.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.243.parquet to ./hmda_local_copy/part.243.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.244.parquet to ./hmda_local_copy/part.244.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.245.parquet to ./hmda_local_copy/part.245.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.246.parquet to ./hmda_local_copy/part.246.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.247.parquet to ./hmda_local_copy/part.247.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.248.parquet to ./hmda_local_copy/part.248.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.249.parquet to ./hmda_local_copy/part.249.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.25.parquet to ./hmda_local_copy/part.25.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.250.parquet to ./hmda_local_copy/part.250.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.251.parquet to ./hmda_local_copy/part.251.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.252.parquet to ./hmda_local_copy/part.252.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.253.parquet to ./hmda_local_copy/part.253.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.254.parquet to ./hmda_local_copy/part.254.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.255.parquet to ./hmda_local_copy/part.255.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.256.parquet to ./hmda_local_copy/part.256.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.257.parquet to ./hmda_local_copy/part.257.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.258.parquet to ./hmda_local_copy/part.258.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.259.parquet to ./hmda_local_copy/part.259.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.26.parquet to ./hmda_local_copy/part.26.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.260.parquet to ./hmda_local_copy/part.260.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.261.parquet to ./hmda_local_copy/part.261.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.262.parquet to ./hmda_local_copy/part.262.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.263.parquet to ./hmda_local_copy/part.263.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.264.parquet to ./hmda_local_copy/part.264.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.265.parquet to ./hmda_local_copy/part.265.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.266.parquet to ./hmda_local_copy/part.266.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.267.parquet to ./hmda_local_copy/part.267.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.268.parquet to ./hmda_local_copy/part.268.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.269.parquet to ./hmda_local_copy/part.269.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.27.parquet to ./hmda_local_copy/part.27.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.270.parquet to ./hmda_local_copy/part.270.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.271.parquet to ./hmda_local_copy/part.271.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.272.parquet to ./hmda_local_copy/part.272.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.273.parquet to ./hmda_local_copy/part.273.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.274.parquet to ./hmda_local_copy/part.274.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.275.parquet to ./hmda_local_copy/part.275.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.276.parquet to ./hmda_local_copy/part.276.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.277.parquet to ./hmda_local_copy/part.277.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.278.parquet to ./hmda_local_copy/part.278.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.279.parquet to ./hmda_local_copy/part.279.parquet
Downloading hmda_filtered_cleaned_2018_2023/part.28.parquet to ./hmda_local_copy/part.28.parquet